{% import "partials/_strings.j2" as strings %}
{% import "partials/status_badges.j2" as badges %}

{% macro render_table(table) -%}
  <table id="{{ table.identifier }}">
    {% if table.caption_key %}
      <caption>{{ strings.caption(table.caption_key) }}</caption>
    {% endif %}
    <thead>
      <tr>
        {% for header_key in table.column_keys %}
          <th scope="col">{{ strings.table_header(header_key) }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.rows %}
        <tr {% if row.test_id %}data-test="{{ row.test_id }}"{% endif %}>
          {% for cell in row.cells %}
            <td {% if cell.test_id %}data-test="{{ cell.test_id }}"{% endif %}>
              {% if cell.badge %}
                {{ badges.render_badge(cell.badge) }}
              {% elif cell.text_key %}
                {{ strings.table_cell(cell.text_key) }}
              {% elif cell.text %}
                {{ cell.text }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}
